<div class = "row">
    <div class="col-md-6">
        <h2>
            Urls
        </h2>
    </div>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Url</td>
            <td>Short Url</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="url in urls" style="cursor:pointer">
            <td>
                <input type="checkbox" ng-model="url.delete" ng-change="toggleUrl(url)"/>
                <a href="{{ url.urlPath }}">{{ url.urlPath }}</a>
            </td>
            <td>
                <a href="/#/go/{{ url.shortUrl }}">{{ path }}/#/go/{{ url.shortUrl }}</a>
            </td>
        </tr>
        </tbody>
    </table>
    <input class="form-control" placeholder="New url" type="text" ng-model="urlPath" />
    <br />
    <button class="btn btn-primary" ng-click="addUrl(url)">Add</button>
    <button class="btn btn-danger" ng-click="clearCompleted()">Delete selected</button>
</div>
